*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 17px;
  margin: 0;
  color: coral;
  background-color: antiquewhite;
}

img {
  display: block;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: #3c3c3c;
}

p {
  font-size: 19px;
  line-height: 30px;
}

.hero {
  padding-block: 90px;
  padding-inline: 280px;
  font-weight: 500;

  &__experience--title {
    font-size: 16px;
    line-height: 24px;
    color: black;
  }

  &__experience--desc {
    padding: 0;
    font-weight: 400;
    color: dimgrey;
  }
}

.fixed {
  a {
    color: #000;
    text-decoration: none;
  }

  &--pos-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--role {
    &-title {
      width: 120px;
    }

    &-btn {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }
}

.bottom {
  padding-inline: 280px;
  font-size: 14px;
  line-height: 23px;
}
